/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

nav {
    background-color: #555;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: #ff8c00;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

/* Estilos para el carrusel */
.carousel {
    /* Agrega estilos según tu implementación del carrusel */
}

/* Estilos para la sección "Acerca de" */
#about {
    margin-top: 20px;
}

#about h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

#about p {
    font-size: 16px;
    line-height: 1.6;
}
